<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>
	<extension
         point="org.eclipse.ui.contexts">
		<context 
                name="Editing Fitnesse"
                description="Editing Fitnesse Context"
                parentId="org.eclipse.ui.textEditorScope"
                id="fitnesseclipse.ui.editors.fitnesseEditorScope">
		</context>
	</extension>
	
	<extension
         point="org.eclipse.ui.editors">
		<editor
            class="fitnesseclipse.ui.editors.FitnesseEditor"
            contributorClass="org.eclipse.ui.texteditor.BasicTextEditorActionContributor"
            id="fitnesseclipse.ui.editors.FitnesseEditor"
            name="FitNesse Editor">
            <contentTypeBinding contentTypeId="fitnesseclipse.core.contenttype.fitnesseText"/>
		</editor>
	</extension>
    
    <extension
        point="org.eclipse.ui.decorators">
        <decorator
            adaptable="true"
            icon="icons/fitedit_16.png"
            id="fitnesseclipse.ui.icondecorator"
            label="Fitnesse Editor Resource Decorator"
            lightweight="true"
            location="TOP_LEFT"
            state="true">
                <enablement>
                    <and>
                        <objectClass
                            name="org.eclipse.core.resources.IFile">
                        </objectClass>
                        <objectState
                            name="contentTypeId"
                            value="fitnesseclipse.core.contenttype.fitnesseText">
                        </objectState>
                    </and>
                </enablement>
        </decorator>
    </extension>
	
	<extension
         point="org.eclipse.ui.preferencePages">
		<page
            class="fitnesseclipse.ui.preferences.FitPreferencePage"
            id="fitnesseclipse.preferences.FitPreferencePage"
            name="FitNesse">
		</page>
	</extension>

	<extension
         point="org.eclipse.core.runtime.preferences">
		<initializer
            class="fitnesseclipse.ui.preferences.PreferenceInitializer">
		</initializer>
	</extension>

	<extension
         point="org.eclipse.ui.commands">
		<command
            defaultHandler="fitnesseclipse.ui.handlers.AddRemoveFitnesseNatureHandler"
            id="fitnesseclipse.commands.addRemoveNatureCommand"
            name="Add/Remove Fitnesse Project Nature">
		</command>
		<command
            categoryId="org.eclipse.ui.category.navigate"
            defaultHandler="fitnesseclipse.ui.handlers.OpenFitnesseResouceHandler"
            id="fitnesseclipse.commands.openFitnesseCommand"
            name="Open FitNesse">
		</command>
		<command
            categoryId="org.eclipse.ui.category.navigate"
            defaultHandler="fitnesseclipse.ui.handlers.OpenBrowserHandler"
            id="fitnesseclipse.command.openBrowser"
            name="Open In Browser">
		</command>
		<command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="fitnesseclipse.ui.handlers.FormatHandler"
            id="fitnesseclipse.command.format"
            name="Format">
		</command>
		<command
            categoryId="org.eclipse.ui.category.edit"
            defaultHandler="fitnesseclipse.ui.handlers.CommentHandler"
            id="fitnesseclipse.command.comment"
            name="Comment">
		</command>            
	</extension>

	<extension
         point="org.eclipse.ui.bindings">
		<key
            commandId="fitnesseclipse.commands.openFitnesseCommand"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+Z">
		</key>
		<key
            commandId="fitnesseclipse.command.comment"
            contextId="fitnesseclipse.ui.editors.fitnesseEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+C">
		</key>
		<key
            commandId="fitnesseclipse.command.format"
            contextId="fitnesseclipse.ui.editors.fitnesseEditorScope"
            schemeId="org.eclipse.ui.defaultAcceleratorConfiguration"
            sequence="Ctrl+Shift+F">
		</key>
	</extension>

	<extension
         point="org.eclipse.ui.menus">
		<menuContribution
         	locationURI="popup:org.eclipse.ui.popup.any?after=additions">
			<menu label="Fitnesse">
    			<command 
    	               commandId="fitnesseclipse.commands.addRemoveNatureCommand"
    	               label="Disable Fitnesse Nature"
    	               style="push">
    				<visibleWhen
    	                  checkEnabled="false">
    					<with
    	                     variable="selection">
    						<count
    	                        value="1">
    						</count>
    						<iterate>
    							<adapt
    	                           type="org.eclipse.core.resources.IProject">
    								<test
    	                              property="org.eclipse.core.resources.projectNature"
    	                              value="fitnesseclipse.core.fitnesseNature">
    								</test>
    							</adapt>
    						</iterate>
    					</with>
    				</visibleWhen>
    			</command>
			</menu>
		</menuContribution>

		<menuContribution
            locationURI="popup:org.eclipse.ui.projectConfigure?after=additions">
			<command
               commandId="fitnesseclipse.commands.addRemoveNatureCommand"
               label="Convert to Fitnesse Project"
               style="push">
				<visibleWhen
                  checkEnabled="false">
					<with
                     variable="selection">
						<count
                        value="1">
						</count>
						<iterate>
							<adapt
                           type="org.eclipse.core.resources.IProject">
								<not>
									<test
                                 property="org.eclipse.core.resources.projectNature"
                                 value="fitnesseclipse.core.fitnesseNature">
									</test>
								</not>
							</adapt>
						</iterate>
					</with>
				</visibleWhen>
			</command>
		</menuContribution>

		<menuContribution
            locationURI="popup:#TextEditorContext?after=additions">
			<menu
               label="FitNesse">
				<command
                  commandId="fitnesseclipse.command.format"
                  label="Format"
                  style="push">
					<visibleWhen>
						<reference
                        definitionId="fitnesseclipse.definition.activeEditor">
						</reference>
					</visibleWhen>
				</command>
				<command
                  commandId="fitnesseclipse.command.openBrowser"
                  label="Open In Browser"
                  style="push">
					<visibleWhen>
						<reference
                        definitionId="fitnesseclipse.definition.activeEditor">
						</reference>
					</visibleWhen>
				</command>
			</menu>
		</menuContribution>
	</extension>

	<extension
         point="org.eclipse.core.expressions.definitions">
		<definition
            id="fitnesseclipse.definition.activeEditor">
			<with
               variable="activeEditorId">
				<equals
                  value="fitnesseclipse.ui.editors.FitnesseEditor">
				</equals>
			</with>
		</definition>
	</extension>
	
	<extension point="org.eclipse.ui.ide.markerResolution">
      <markerResolutionGenerator
         markerType="fitnesseclipse.core.marker.problemmarker"
         class="fitnesseclipse.ui.quickfix.Quickfixer"/>
    </extension>

</plugin>
